.w3-bar-block .w3-bar-item {padding:20px}
#can{float:bottom}
#canle_right{float:right}
#le{margin-left:12.5%;margin-top:3%}
#le2{margin-left:8%;margin-top:10%}
#giua{margin-left:40%}
#hidden_input{visibility: hidden;}
#go2{background-image:url(image/go2.jpg)}